@use "../variables"

.Page
  padding: 0

.Content
  position: absolute
  top: 45%
  left: 50%
  width: max-content
  transform: translate(-50%, -50%)

  .Title, .Subtitle, p
    text-align: center
    margin: 0 auto
    line-height: .94em

  .Title
    font-size: 8em
    font-weight: 600
    color: variables.$foreground-color

  .Subtitle
    font-size: 2.5em
    font-weight: 500
    color: variables.$light-text

  .SimulateInput
    width: 33vw

    @media screen and (max-width: variables.$mobile-screen)
      width: 70vw

  p
    font-size: 1.1em
    font-weight: 400
    color: variables.$light-text

    a
      color: variables.$foreground-color
      text-decoration: none
      font-weight: 500