@use "../variables"
  
.OwnedCollectibles
  $sidePadding: 2em
  border-radius: 18px
  box-shadow: variables.$darker-shadow
  padding: 1.4em $sidePadding $sidePadding
  background-color: variables.$foreground-color
  color: variables.$foreground-reverse-color
  overflow: hidden

  .OwnedList
    position: relative
    display: grid
    justify-content: space-between
    grid-template-columns: auto auto auto auto

    @media screen and (max-width: variables.$mobile-screen)
      grid-template-columns: auto
      gap: 2em
      justify-content: center

    .NoOwned
      position: absolute
      top: 50%
      left: 50%
      text-align: center
      transform: translate(-50%, -50%)
      margin: 0
      font-size: 1.1em
      color: variables.$foreground-reverse-color

      a
        text-decoration: underline
        color: variables.$foreground-reverse-color

    .ViewAll
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      top: 0
      right: -$sidePadding
      bottom: 0
      width: 25%
      background: linear-gradient(to right, rgb(0, 0, 0, 0) 10%, rgba(0, 0, 0, .9) 90%)

      @media screen and (max-width: variables.$mobile-screen)
        position: relative
        top: unset
        right: unset
        bottom: unset
        background: none
        width: auto
        margin: 0 auto

      a
        color: variables.$foreground-reverse-color
        font-weight: 600
        font-size: 1.3em
        display: flex
        align-items: center
        width: max-content
        cursor: pointer
        text-decoration: none
        transition: all .23s ease-in-out

        svg
          +variables.sameSizeSvg
          margin-left: .24em

        &:hover
          opacity: .82

  &.DarkOwned
    background-color: variables.$component-background
    box-shadow: none
    color: variables.$foreground-color

    .OwnedList
      .ViewAll
        background: linear-gradient(to right, rgb(0, 0, 0, 0) 10%, rgba(0, 0, 0, .9) 80%)

        a
          color: variables.$foreground-color

      .NoOwned, .NoOwned a
        color: variables.$foreground-color

.InviteModalText
  color: variables.$light-text
  font-size: 1.1em
  text-align: center
  padding-bottom: 0

.InviteModalUser
  display: flex
  align-items: center
  justify-content: space-between

  .ViewBlock
    display: flex
    align-items: center
    font-size: 1.5em
    color: variables.$light-text
    cursor: pointer
    text-decoration: none
    transition: all .23s ease-in-out

    &:active
      transform: scale(.8)

    &:hover
      opacity: .8

    svg
      font-size: 1.5em
      width: 1em
      height: 1em

.InviteModalActions
  display: flex
  align-items: center
  justify-content: space-around