@use "../variables"
  
.ShowMore
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  color: variables.$light-text
  font-size: 1.08em
  cursor: pointer
  transition: all .23s ease-in-out

  svg
    margin-left: .3em
    +variables.sameSizeSvg

  &:hover
    opacity: .8