@use "../variables"

.Background
  position: fixed
  top: -5vh
  left: -5vw
  right: -5vw
  bottom: -5vh
  z-index: -1
  min-width: 110vw
  min-height: 110vh
  user-select: none
  object-fit: cover
  filter: blur(20px)

