@use "../variables"

$titleSize: 3.8em

.Landing
  display: flex
  align-items: center
  justify-content: space-between

  @media screen and (max-width: variables.$mobile-screen)
    justify-content: flex-start
    align-items: left
    flex-direction: column

  .Hero
    margin: 12em 0

    @media screen and (max-width: variables.$mobile-screen)
      margin: auto

    h1
      font-size: $titleSize
      font-weight: 600
      line-height: 1.15em

      @media screen and (max-width: variables.$mobile-screen)
        font-size: $titleSize - 1em

      [class~="typed-cursor"]
        font-weight: 300
        color: variables.$light-text

    p
      color: variables.$light-text
      font-weight: 400
      font-size: 1.5em
      margin: 2em 0

      @media screen and (max-width: variables.$mobile-screen)
        font-size: 1.2em

      a
        color: inherit

    .HeroBtns
      display: flex
      align-items: center

      button
        padding: .6rem 1.2rem
        border: solid #000
        font-size: 1.2em

  .InfoSection
    display: flex
    justify-content: space-between
    width: 40%

    // @media screen and (max-width: variables.$mobile-screen)
    //   display: none

    .Primary
      display: flex
      flex-direction: column
      align-items: flex-start
      padding: 50px

      background: #000000
      /* shadow */

      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1)
      border-radius: 40px

      /* Inside auto layout */

      flex: none
      order: 0
      align-self: stretch
      flex-grow: 0
      margin: 0px 32px

.Section
  .Title
    font-weight: 500
    font-size: $titleSize
    margin: 0
    bottom: .55em

    @media screen and (max-width: variables.$mobile-screen)
      margin-top: 1em

  .Description
    font-size: 1.1em
    font-weight: 400
    text-align: justify
    color: variables.$light-text

    a
      color: inherit
      text-decoration: underline

    ul
      list-style-type: "-"

      li
        padding-left: .55em

        &::marker
          padding-right: .2em

.PSTs
  display: flex

  @media screen and (max-width: variables.$mobile-screen)
    display: none

  .Text
    flex: 2
