$titleSize: 2.7em
  
.Landing
  display: flex
  align-items: center
  justify-content: space-between
  
  .Hero
    h1
      font-size: $titleSize
      font-weight: 400
      line-height: 1.15em
      margin: 0

      [class~=typed-cursor]
        font-weight: 300
        color: #666

    p
      color: #666
      font-weight: 400
      font-size: 1.13em
      margin: 0

      a
        color: inherit

    .HeroBtns
      display: flex
      align-items: center

  .FeaturedToken
    display: flex
    align-items: center
    width: 40%

.Section
  .Title
    font-weight: 500
    font-size: $titleSize
    margin: 0
      bottom: .55em

  .Description
    font-size: 1.1em
    font-weight: 400
    text-align: justify

    a
      color: inherit
      text-decoration: underline

    ul
      list-style-type: "-"

      li
        padding-left: .55em
        
        &::marker
          padding-right: .2em

.PSTs
  position: relative

  svg
    position: absolute
    width: 30%
    top: 0
    bottom: 0
    right: 0

  p
    width: 64%