@use "../variables"

$titleSize: 3.8em

.Landing
  display: flex
  align-items: center
  justify-content: space-between
  overflow-x: hidden
  padding-bottom: 0 !important
  background-color: #00000005

  @media screen and (max-width: variables.$mobile-screen)
    justify-content: flex-start
    align-items: left
    flex-direction: column

  .Hero
    margin: 12em 0
    z-index: 1
    width: 100%

    @media screen and (max-width: variables.$mobile-screen)
      margin: auto

    h1
      font-size: $titleSize
      font-weight: 600
      line-height: 1.15em

      @media screen and (max-width: variables.$mobile-screen)
        font-size: $titleSize - 1em

      [class~="typed-cursor"]
        font-weight: 300
        color: variables.$light-text

    p
      color: variables.$light-text
      font-weight: 400
      font-size: 1.5em
      margin: 2em 0

      @media screen and (max-width: variables.$mobile-screen)
        font-size: 1.2em

      a
        color: inherit

    .HeroBtns
      display: flex
      align-items: center

      @media screen and (max-width: variables.$mobile-screen)
        justify-content: space-between

      button
        padding:
          left: 0
          right: 0
        width: 15%
        font-size: 1.2em

        @media screen and (max-width: variables.$mobile-screen)
          width: 48%

.Card
  $sidePadding: 20px
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: $sidePadding
  padding: 20px
  border-radius: 20px
  background-color: variables.$background-color
  transition: all .23s ease-in-out

  @media screen and (max-width: variables.$mobile-screen)
    width: calc(100% - #{$sidePadding * 2}) !important

  h2
    margin: 0
    font-size: 4em
    font-weight: 500
    line-height: 1em

  p
    margin: 0
    opacity: 50%
    font-size: 1.5em

  a
    text-decoration: none
    color: inherit

.InfoSection
  display: flex
  gap: 2em
  justify-content: space-between
  background-color: #96969620

  // reset <Page/> styles
  min-height: 0 !important
  padding-bottom: 8em !important
  padding-top: 8em !important

  @media screen and (max-width: variables.$mobile-screen)
    flex-direction: column

  .Primary
    width: 35%
    background-color: variables.$foreground-color
    color: variables.$background-color

    @media screen and (max-width: variables.$mobile-screen)
      width: 100%

  .Secondary
    width: 55%
    border: 1px #80808040 solid

    @media screen and (max-width: variables.$mobile-screen)
      width: 100%

    h2
      color: variables.$foreground-color

.Assets
  background-color: #00000005

  // reset <Page/> styles
  min-height: 0 !important
  padding-bottom: 8em !important
  padding-top: 8em !important

  .AssetsTable
    display: flex
    flex-direction: column
    gap: 2em
    padding: 2em

    .AssetRow
      display: flex
      justify-content: space-between
      align-items: center
      padding: .5em 1em
      border-radius: 12px
      background: linear-gradient(0deg, #FFFFFF1A, #FFFFFF1A), variables.$background-color
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)

      .AssetName
        display: flex
        align-items: center
        gap: 2em

        div
          display: flex
          flex-direction: column
          justify-content: space-around

          p, h3
            margin: 0

        .AssetImage
          border-radius: 20%


.Ecosystem
  text-align: center

  // reset <Page/> styles
  min-height: 0 !important
  padding-bottom: 8em !important
  padding-top: 8em !important

  h1
    font-size: 3em
    font-weight: 600
    line-height: 1em

  p
    font-size: 1.2em

.CTA
  display: flex
  gap: 4rem
  background-color: #96969620

  // reset <Page/> styles
  min-height: 0 !important
  padding-bottom: 8em !important
  padding-top: 8em !important

  @media screen and (max-width: variables.$mobile-screen)
    flex-direction: column-reverse

  .Left
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 2rem

    @media screen and (max-width: variables.$mobile-screen)
      width: 100%

    .DAO
      background-color: variables.$foreground-color
      color: variables.$background-color
      justify-content: space-between
      width: 100%
      height: 100%

      button
        border-color: variables.$foreground-color

    .Social
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      border: 1px #80808040 solid
      width: 100%

      h3
        margin: 0
        font-size: 1.5em
        
        @media screen and (max-width: variables.$mobile-screen)
          font-size: 1.25em

      a
        font-size: 1.5em
        display: flex
        align-items: center
        justify-content: center
        text-decoration: none
        height: 46px
        width: 46px
        border-radius: 100%
        background-color: variables.$skeleton
        color: variables.$foreground-color
        transition: all .23s ease-in-out

        @media screen and (max-width: variables.$mobile-screen)
          font-size: 1.25em
          height: 42px
          width: 42px

        svg
          font-size: 1.3em
          width: 1em
          height: 1em

        &:hover
          opacity: .8

  .Right
    justify-content: space-between
    border: 1px #80808040 solid
    width: 160%
