@use "../variables"

.SwapContent
  display: flex
  align-items: center
  justify-content: space-between

  @media screen and (max-width: variables.$mobile-screen)
    display: block

  .Graph
    position: relative
    width: 50%
    height: 45vh

    @media screen and (max-width: variables.$mobile-screen)
      width: 100%
      height: 35vh
      margin-bottom: 2em

    .GraphMode
      position: absolute
      top: 0
      right: 0
      display: flex
      align-items: center

      .PriceData
        margin-right: .65em

        span
          display: block
          color: variables.$light-text
          text-transform: uppercase
          font-size: .9em
          line-height: 1.25em
          text-align: right

  .SwapForm
    $sidePadding: 1.5em
    position: relative
    width: 39%
    padding: 0

    .SwapWrapper
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 100%
      width: 100%

    .SwapOverlay
      position: absolute
      display: flex
      flex-direction: column
      +variables.absoluteExtend
      z-index: 100
      background-color: rgba(#fff, .67)
      padding: $sidePadding
      backdrop-filter: blur(5px)

      &.BlockedCountry
        display: flex
        align-items: center
        justify-content: center

        h1, p
          text-align: center
          margin: 0
          color: variables.$foreground-color

        h1
          font-size: 2em
          font-weight: 700

          @media screen and (max-width: variables.$mobile-screen)
            font-size: 1.85em

        p
          font-size: 1.05em
          font-weight: 500

          @media screen and (max-width: variables.$mobile-screen)
            font-size: .9em

      &.SelectToken
        background-color: rgba(#fff, .85)

        h1.TokenSelectTitle
          color: variables.$foreground-color
          font-size: 2.2em
          font-weight: 400
          display: flex
          align-items: center
          justify-content: space-between
          padding-bottom: .45em
          margin: 0
          border-bottom: 1px dashed #878787

          @media screen and (max-width: variables.$mobile-screen)
            font-size: 1.8em

          .CloseTokenSelect
            font-size: 1em
            width: .8em
            height: .8em
            color: variables.$light-text
            cursor: pointer
            transition: all .23s ease-in-out

            &:hover
              opacity: .77

            &:active
              transform: scale(.8)

        .TokenSelectList
          overflow-y: auto

          .TokenItem
            display: flex
            align-items: center
            cursor: pointer
            padding: .7em 1em
            border-radius: 12px
            transition: all .23s ease-in-out

            &:hover
              background-color: rgba(#000, .1)

            &:active
              transform: scale(.975)
            
            img
              width: 2.6em

            h1
              font-size: 1.75em
              color: variables.$foreground-color
              font-weight: 500
              line-height: 1em
              margin: 0
                bottom: .05em

            p
              font-size: .96em
              color: variables.$light-text
              font-weight: 500
              margin: 0

      &.SwapOverlayDark
        background-color: rgba(#030a23, .67)

        &.SelectToken .TokenSelectList .TokenItem:hover
          background-color: rgba(#fff, .1)

      .SearchToken
        flex: none

    .Head
      padding: 2em $sidePadding 1.7em
      background-color: rgb(variables.$primary-color)
      display: flex
      align-items: center
      justify-content: space-between

      @media screen and (max-width: variables.$mobile-screen)
        padding: 1.7em $sidePadding 1.5em

      .HeadText
        $headFontSize: 1.1em
        $headFontSizeMobile: .92em
        font-size: $headFontSize
        font-weight: 400
        text-transform: uppercase
        color: #676767
        display: flex
        align-items: center
        margin: 0

        @media screen and (max-width: variables.$mobile-screen)
          font-size: $headFontSizeMobile

        .Select
          position: relative
          margin-left: .5em
          display: inline-block
          cursor: pointer
          $selectSidePadding: .42em

          .Arrow
            position: absolute
            font-size: $headFontSize
            width: $headFontSize
            height: $headFontSize
            color: variables.$background-color
            top: 50%
            right: $selectSidePadding
            z-index: 5
            transform: translateY(-50%)

            @media screen and (max-width: variables.$mobile-screen)
              font-size: $headFontSizeMobile
              width: $headFontSizeMobile
              height: $headFontSizeMobile

          p
            font-size: $headFontSize
            font-weight: 400
            text-transform: uppercase
            background-color: rgba(#fff, .17)
            color: variables.$background-color
            border-radius: 10px
            padding: .2em ($selectSidePadding * 2 + $headFontSize) .2em $selectSidePadding
            margin: 0

            @media screen and (max-width: variables.$mobile-screen)
              font-size: $headFontSizeMobile

      &.DarkHead
        .HeadText
          color: #fff

          .Select
            p, .Arrow
              color: rgba(#fff, .8)

          select
            background-color: rgba(#000, .17)

    .OrderType
      display: flex
      align-items: center
      justify-content: space-between
      margin: 0 $sidePadding
      padding: 1.55em 0 1.32em
      border-bottom: 1px dashed variables.$cec

      @media screen and (max-width: variables.$mobile-screen)
        padding: 1.25em 0 1.02em

      .OrderTypeInfo
        display: flex
        align-items: center

        svg
          font-size: 1.3em
          width: 1em
          height: 1em

          @media screen and (max-width: variables.$mobile-screen)
            font-size: 1em

      .Selector
        display: flex
        align-items: center
        $fontSize: 1.1em
        $fontSizeMobile: .93em

        p
          font-size: $fontSize
          font-weight: 400
          color: variables.$foreground-color
          cursor: pointer
          padding: 0
          transition: opacity .23s ease-in-out

          @media screen and (max-width: variables.$mobile-screen)
            font-size: $fontSizeMobile
            margin: 0

          &.SelectedOrderType
            font-weight: 500

          &:hover:not(.SelectedOrderType)
            opacity: .7

        .Separator
          width: 3px
          height: $fontSize * 1.75
          background-color: variables.$cec
          margin: 0 .85em

          @media screen and (max-width: variables.$mobile-screen)
            height: $fontSizeMobile * 1.75

    .SwapInputs
      padding: $sidePadding

    .SwapBottom
      padding: $sidePadding

      .ProgressBar
        position: relative
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 $sidePadding / 2
        $barSize: 6px

        .Bar
          position: absolute
          top: 50%
          left: 50%
          width: 85%
          height: $barSize
          background-color: variables.$cec
          transform: translate(-50%, -50%)

          .Filled
            position: absolute
            left: 0
            top: 0
            bottom: 0
            background-color: variables.$foreground-color
            border-top-right-radius: 3px
            border-bottom-right-radius: 3px
            transition: all .23s ease-in-out

        .Circle
          border-radius: 100%
          z-index: 5
          width: $barSize
          height: $barSize
          border: $barSize solid variables.$cec
          background-color: variables.$background-color
          transition: all .23s ease-in-out

          &.FilledCircle
            border-color: variables.$foreground-color

      .SwapButton
        width: 100%

.DepthSelect
  font-size: #{1em / variables.$title-font-size}em
  line-height: 1em

  @media screen and (max-width: variables.$mobile-screen)
    font-size: #{1em / variables.$title-font-size-mobile}em

  div[class~=VertoSelectWrapper]
    min-width: 60px

.OrderBookTitle
  h1
    font-size: 1em
    margin: 0
    font-weight: 500

    @media screen and (max-width: variables.$mobile-screen)
      display: flex
      flex-direction: column

    .PairTitle
      font-size: .4em
      color: variables.$light-text
      font-weight: 400
      text-transform: uppercase
      margin-left: 1.5em

      @media screen and (max-width: variables.$mobile-screen)
        margin-left: 0

.OrderBook
  display: flex
  align-items: stretch
  justify-content: space-between

  @media screen and (max-width: variables.$mobile-screen)
    display: block

  .OrderBookCard
    $topPadding: 1.5em
    $sidePadding: 1.8em
    padding: $topPadding 0
    width: 48%

    @media screen and (max-width: variables.$mobile-screen)
      width: 100%

    .OrderBookLoading
      width: 90%
      margin: .2em auto

    h1
      font-size: 1.6em
      font-weight: 600
      color: variables.$light-text
      border: 1px solid variables.$cec
      border-radius: 1.5em
      padding: .4em .8em
      margin:
        left: $sidePadding / 2
        bottom: $topPadding
      width: max-content

      @media screen and (max-width: variables.$mobile-screen)
        font-size: 1.3em
        margin-bottom: $topPadding / 2

    table
      width: 100%
      border-collapse: separate
      border-spacing: 0 .5em

      thead
        th
          $topPadding: .5em
          color: variables.$light-text
          font-weight: 400
          font-size: 1.05em
          padding: $topPadding 0
          text-align: center
          border-bottom: 1px dashed variables.$cec
          margin-bottom: $topPadding

          @media screen and (max-width: variables.$mobile-screen)
            font-size: .9em

          &:first-child
            text-align: left
            padding-left: $sidePadding

          &:last-child
            text-align: right
            padding-right: $sidePadding

.ConfirmModal
  p
    text-align: center

  .SubmitBtn
    margin: 0 auto

  .SwapIcon
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.1em

    svg
      font-size: 1em
      width: 1em
      height: 1em
      transform: rotate(90deg)