@use "../variables"

.AvatarSection
  display: flex
  align-items: center
  justify-content: space-between

  .Avatar
    font-size: 1.5em

.Transactions
  width: 100%
  color: variables.$light-text
  font-size: 1.1em
  border-collapse: separate
  border-spacing: 0 1em

  .TxType
    background-color: variables.$foreground-color
    color: variables.$foreground-reverse-color
    padding: .13em .44em
    border-radius: 8px
    box-shadow: variables.$standard-shadow
    text-transform: uppercase
    font-weight: 500
    width: 42px
    text-align: center

  .TxID
    display: flex
    align-items: center
    padding-left: 1em

    a
      text-decoration: none
      color: variables.$light-text
      transition: all .23s ease-in-out

      &:hover
        opacity: .8

    .Status
      $statusSize: 8px
      display: block
      margin-left: $statusSize
      width: $statusSize
      height: $statusSize
      border-radius: 100%
      background-color: variables.$background-color
      opacity: .6

      &.Status_error
        opacity: 1
        background-color: variables.$error

      &.Status_pending
        opacity: 1
        background-color: variables.$warning

      &.Status_success
        opacity: 1
        background-color: variables.$success

    .StatusTooltip
      text-transform: capitalize
      font-size: .8em
      padding: .2em .6em
      border-radius: 10px

  .TxAmount
    text-align: right
      