@use "../variables"
  
.Modal
  .Input
    div[class~=VertoInputWrapper]
      width: calc(100% - 6px)

      div[class~=VertoInputInlineLabel]
        min-width: 160px
        padding: 0

  .Submit
    margin: 0 auto

$labelFontSize: 1.075em

.Label
  display: block
  color: variables.$light-text
  text-transform: uppercase
  margin: 0
    bottom: .27em
  font-weight: 500
  font-size: $labelFontSize

.TokenLayoutPicker
  display: grid
  justify-content: space-between
  grid-template-columns: repeat(2, 47.5%)
  gap: 1.5em 0

  .TokenItem
    cursor: pointer

    .Layout
      border-radius: 11px
      border: 3px solid variables.$skeleton
      padding: 7px 10px
      margin-bottom: .8em
      transition: all .18s ease-in-out

    &.ActiveItem .Layout
      border-color: variables.$foreground-color
      box-shadow: variables.$lighter-shadow

    span
      display: block
      text-align: center
      font-weight: 500

      &.Name
        color: variables.$light-text
        text-transform: uppercase
        font-size: $labelFontSize + .15em

      &.Description
        color: variables.$cec
        font-size: $labelFontSize
        line-height: 1.2em

    svg
      width: 100%

.SideAction
  color: variables.$light-text
  text-align: center
  text-decoration: underline
  margin: 0
  cursor: pointer
  transition: all .23s ease-in-out

  &:hover
    opacity: .8

.Textarea
  +variables.modalTextarea

.ActionLabel
  +variables.flexCenterWithSpace

  div[class~=VertoPopoverWrapper]
    display: flex
    align-items: center

  div[class~=VertoTooltip]
    text-transform: none
    font-weight: 500
    font-size: .85em

  .AddAction
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: all .23s ease-in-out

    &:hover
      opacity: .8

    &:active
      transform: scale(.8)

  .PopoverText
    font-size: .9em
    font-weight: 500
    text-align: center
    text-transform: none
    margin: 0

.Collaborators
  .Collaborator
    $size: 32px
    position: relative
    display: inline-block
    cursor: pointer
    transition: all .23s ease-in-out

    img
      width: $size
      height: $size
      border-radius: 100%
      user-select: none
      z-index: 1
      border: 1px solid variables.$background-color
      background-color: variables.$background-color

    &:not(:first-child)
      margin-left: -($size /  5 * 3)

    .Remove
      position: absolute
      +variables.absoluteExtend
      background-color: rgba(#000, .5)
      z-index: 2
      opacity: 0
      width: $size
      height: $size
      border-radius: 100%
      transition: all .23s ease-in-out

      svg
        position: absolute
        color: #fff
        +variables.absoluteCenter

    &:hover .Remove
      opacity: 1

  &:hover .Collaborator:not(:first-child)
    margin-left: .2rem

.SearchPopover
  .SearchUser
    $sidePadding: .55em
    $iconSize: 1em
    position: relative

    input
      display: block
      outline: none
      border: none
      width: 180px
      background-color: rgba(0, 0, 0, .07)
      border-radius: 8px
      color: variables.$light-text
      font-weight: 500
      font-size: 1em
      padding: .3em $sidePadding + $iconSize .3em $sidePadding

      &.WithLeftIcon
        width: 160px
        padding: .3em $sidePadding * 2 + $iconSize

    svg
      position: absolute
      right: $sidePadding
      top: 50%
      z-index: 2
      color: variables.$light-text
      opacity: .7
      font-size: $iconSize + .2em
      width: $iconSize
      height: $iconSize
      transform: translateY(-50%)

      &.LeftIcon
        left: $sidePadding
        right: unset

    &.DarkSearchUser input
      background-color: rgba(255, 255, 255, .07)

  .Result
    display: flex
    align-items: center
    cursor: pointer
    margin-bottom: .35em

    &:last-child
      margin-bottom: 0

    &:hover
      img, .UserInfo
        opacity: .8

    img
      width: 32px
      height: 32px
      border-radius: 100%
      user-select: none
      margin-right: .45em
      transition: all .23s ease-in-out

      &.Square
        border-radius: 4px

    .ResultInfo
      transition: all .23s ease-in-out

      h1, h2
        font-size: 1.05em
        font-weight: 500
        margin: 0
        line-height: 1em
        text-transform: none

      h1
        color: variables.$foreground-color

      h2
        font-size: .8em