@use "../variables"
  
.Description
  color: variables.$light-text
  font-size: 1.1em
  text-align: center
  padding-bottom: 0

.Input
  div[class~=VertoInputWrapper]
    width: calc(100% - 6px)

    div[class~=VertoInputInlineLabel]
      min-width: 160px
      padding: 0

.WithIconLabel div[class~=VertoInputWrapper] div[class~=VertoInputInlineLabel]
  min-width: 60px

.Label
  display: block
  color: variables.$light-text
  text-transform: uppercase
  margin: 0
    bottom: .27em
  font-weight: 500
  font-size: 1.075em

.Textarea
  +variables.modalTextarea

.Pfp, .FileInput
  +variables.fileInput

  &.FileInput
    height: 120px

.Address
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 1em
  color: variables.$light-text

  p
    font-size: 1.1em
    font-weight: 500
    margin: 0

  svg
    cursor: pointer
    transition: all .23s ease-in-out

    &:hover
      opacity: .8