@use "../variables"
  
=normalTextStyles
  font-size: 1.1em
  font-weight: 500

  @media screen and (max-width: variables.$mobile-screen)
    font-size: .9em

.SwapInput
  position: relative
  background-color: variables.$skeleton
  border: 1px solid variables.$skeleton
  cursor: text
  overflow: hidden
  border-radius: 12px
  z-index: 1
  transition: all .23s ease-in-out
  $sidePadding: 1.2em
  $topPadding: 1.14em
  $largeSidePadding: 6em

  input
    display: block
    outline: none
    border: none
    width: calc(100% - #{$largeSidePadding} * 2)
    color: variables.$foreground-color
    padding: $topPadding $largeSidePadding
    text-align: right
    background-color: transparent
    z-index: 10
    +normalTextStyles

    &[type="number"]
      &::-webkit-inner-spin-button, &::-webkit-inner-spin-button
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none

  .Placeholder
    position: absolute
    top: 50%
    left: $sidePadding
    right: $sidePadding
    display: flex
    align-items: center
    justify-content: space-between
    transform: translateY(-50%)
    transition: opacity .23s ease-in-out

    p
      +normalTextStyles
      color: variables.$foreground-color
      margin: 0
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap

      &:last-child
        color: variables.$light-text
        text-align: right

  &.Focus, &:focus-within
    &:not(.Disabled):not(.ReadOnly), &.Focus
      background-color: variables.$skeleton-shine
      border-color: #ABABAB

  &.NormalPadding
    input
      padding: $topPadding $sidePadding
      width: calc(100% - #{$sidePadding} * 2)
      text-align: left

  input:not(:placeholder-shown) + .Placeholder
    opacity: 0

  &.Status_error
    border-color: variables.$error

  &.Status_warning
    border-color: variables.$warning

  &.Status_success
    border-color: variables.$success

  &.Disabled
    opacity: .9
    cursor: not-allowed