@use "../variables"
@use "./PeriodMenu"

.Title
  display: flex
  align-items: center

  .PeriodMenu
    +PeriodMenu.periodMenu

.WatchlistContainer
  $gap: 3.5em
  position: relative
  display: grid
  grid-template-columns: repeat(3, calc(33.333% - #{$gap}))
  gap: $gap
  justify-content: space-between

  @media screen and (max-width: variables.$mobile-screen)
    display: block

  .Loading
    position: absolute
    +variables.absoluteCenter

  .WatchlistItem
    position: relative
    $bottomMargin: 3.5em
    
    &:nth-child(3n+3)
      margin-bottom: $bottomMargin

    &:last-child
      margin-bottom: 0

    @media screen and (max-width: variables.$mobile-screen)
      margin-bottom: $bottomMargin

    .Data
      display: flex
      align-items: flex-start
      justify-content: space-between

      .Ticker, .Price
        font-size: 1.2em
        font-weight: 500
        text-align: left
        color: variables.$foreground-color
        margin: 0

        &.Price
          text-align: right

          span
            font-size: .735em
            
            &.Positive, &.Negative
              display: block

            &.Positive
              color: variables.$success

            &.Negative
              color: variables.$error

    .Graph
      position: relative
      min-height: 135px
      margin-top: .4em

    &.Edit::after
      content: "Click to remove"
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: variables.$background-color
      color: variables.$foreground-color
      opacity: 0
      backdrop-filter: blur(5px)
      z-index: 10
      cursor: pointer
      font-weight: 500
      transition: all .23s ease-in-out

    &.Edit:hover::after
      opacity: .5

.SelectToken div[class~=VertoSelectWrapper]
  width: 100%