@use "./variables"
  
.Title
  display: flex
  align-items: center
  justify-content: space-between
  font-size: variables.$title-font-size
  font-weight: 500
  line-height: 1.1em
  margin: 0

  .Btn
    display: flex
    align-items: center
    color: variables.$light-text
    cursor: pointer
    font-size: 1em
    +variables.resetButton
    transition: all .23s ease-in-out

    svg
      +variables.sameSizeSvg

    &:hover
      opacity: .8

  .ActionSheet
    display: flex
    align-items: center
    justify-content: space-between
    font-size: .5em

    .VertoTooltip
      line-height: 1.1em
      font-size: .75em
      border-radius: 10px

.ShowMore, .NoItemsText
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  color: variables.$light-text
  width: max-content
  margin: 0 auto
  font-size: 1.08em
  text-decoration: none
  transition: all .23s ease-in-out

  &.ShowMore
    cursor: pointer

    &:hover
      opacity: .8

  svg
    margin-left: .1em
    +variables.sameSizeSvg